{##
 # src/DocIMM/DocumentationBundle/Resources/views/Default/index.html.twig
 #}

{% extends 'DocumentationBundle:layouts:default.html.twig' %}

{% trans_default_domain 'AdminDefault' %}

{% block body %}

    <div class="content-wrapper">

        <section class="content">

            <div class="row">

                <div class="col-lg-6 col-md-12">
                    <div class="box box-success">
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                <i class="fa fa-database text-muted"></i> {% trans %}Liste des entités{% endtrans %}
                            </h3>
                        </div>
                        <div class="box-body">
                            {% for entity in ['User'] %}
                                <a class="btn btn-app" href="{{ path('admin_entities_index', {entityName: entity}) }}">
                                    <i class="fa fa-table"></i>
                                    {{ ('Entité ' ~ entity)|trans }}
                                </a>
                            {% endfor %}
                            {% for entity in ['Documentation'] %}
                                <a class="btn btn-app" href="{{ path('admin_entities_index', {entityName: entity}) }}">
                                    <i class="fa fa-table"></i>
                                    {{ ('Entité ' ~ entity)|trans }}
                                </a>
                            {% endfor %}
                        </div>
{% elseif app.user and is_granted('ROLE_USER') %}


                           <div class="box-body">
                                {% for entity in ['Documentation'] %}
                                    <a class="btn btn-app" href="{{ path('user_list_doc', {entityName: entity}) }}">
                                        <i class="fa fa-table"></i>
                                        {{ ('Entité ' ~ entity)|trans }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}

                    </div>
                </div>

            </div>

        </section>

    </div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script>$(document).ready(doc.admin.default.index);</script>
{% endblock javascripts %}
