/**
 * src/BotsCorner/CoreBundle/Resources/public/css/botscorner.css
 * 
 * @copyright Immanens
 * @author David Mézière <d.meziere@immanens.com>
 */

label.control-label.required:after {
    color: #dd4b39;
    content: ' *';
}

.login-page{
	background: #EFEFEF !important;
}

.login-header{
	width: 100%;
	padding-top: 4px;
}
.login-box-body{
	position:fixed;
	top: 30vh;
	width:350px;
}
.top{
	background-color: #d73925;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.top .header_content{
	width: 100%;
	min-height: 62px;
	margin: auto;
	padding: 0 3%;
	color: #2A2A2A;
}

.header_content>div.left{
	width: 100%;
	padding-top: 4px;
}
.left{
	float: left;
}
.login-logo{
	margin-bottom: 5px !important;
	font-size:30px !important;
	color:white;
}

.btn-login{
	background-color: #d73925 !important;
}
footer{
	position: fixed;
	bottom:0;
	color:#9a9a9a;
	text-align:center;
	width:100%;
	font-size:12px; 
}

/* Fix for DataTables pagination buttons spacing */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
}

.ellipsed {
    display: inline-block;
    max-width: 45vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;        
}

.content.cache div.btn-group-vertical label {
    text-align: left;
}

/* Fix for DataTables bad assets call */
table.dataTable thead .sorting {
  background-image: none;
}
table.dataTable thead .sorting_asc {
  background-image: none;
}
table.dataTable thead .sorting_desc {
  background-image: none;
}
table.dataTable thead .sorting_asc_disabled {
  background-image: none;
}
table.dataTable thead .sorting_desc_disabled {
  background-image: none;
}


.hits .dropdown-menu>li>a.active,
.visits .dropdown-menu>li>a.active,
.browsers .dropdown-menu>li>a.active,
.visits_geo .dropdown-menu>li>a.active,
.cache .dropdown-menu>li>a.active {
    color: #fff !important;
    background-color: #367fa9;
}

#world-map {
    width: 100%;
    height: 250px;
}

#fos_user_change_password_form_current_password{
	display: block;
}

#fos_user_change_password_form_plainPassword_first{
	display: block;	
}
