{% trans_default_domain 'AdminDocumentation' %}

<colgroup>
    <col style="width: 5%;"/>
    <col style="width: 40%;"/>
    <col style="width: 45%;"/>
    <col style="width: 10%;"/>
</colgroup>
<thead>
<tr>
    <th>{% trans %}Id{% endtrans %}</th>
    <th>{% trans %}Name{% endtrans %}</th>
    <th>{% trans %}Url{% endtrans %}</th>
    <th>{% trans %}Actions{% endtrans %}</th>
</tr>
</thead>
<tbody>
{% for doc in tabs %}
    <tr>
        <td><a title="Editer" href="{{ path('admin_entities_edit', { entityName: entityName, entityId:  doc.id }) }}">{{ doc.id }}</a></td>
        <td>{{ doc.name }}</td>
        <td>{{ doc.url }}</td>
        <td>
            <a title="Delete" class="confirmModalLink" href="{{ path('admin_entities_delete', { entityName: entityName, entityId:  doc.id }) }}"><i class="fa fa-fw fa-trash"></i></a>
        </td>
    </tr>
{% endfor %}
</tbody>
