{% trans_default_domain 'AdminDocumentation' %}
   <div class="row">
        <div class="form-group col-xs-12">
            {{ form_label(form.name, 'Nom de la documentation'|trans) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-12">
            {{ form_label(form.url, 'Url de la documentation'|trans) }}
            {{ form_errors(form.url) }}
            {{ form_widget(form.url) }}
        </div>
    </div>
