{#
 # src/DocIMM/DocumentationBundle/Resources/views/Entities/edit.html.twig
 # 
 # @copyright Adequat
 #}

{% extends 'DocumentationBundle:layouts:default.html.twig' %}

{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% trans_default_domain 'AdminEntities' %}

{% block body %}

<div class="content-wrapper">

    <section class="content-header">
        <h1>{% trans %}Modification entité {% endtrans %} {{ entityName }}</h1>
    </section>
    
    <section class="content">

    {{ form_start(edit_form) }}

        
            <div class="row">
                <div class="col-md-4">
                    <div class="box box-success">

                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-fw fa-table"></i> {% trans with {entityName: entityName} %}Entité {% endtrans %} {{ entityName }}</h3>
                        </div>

                        <div class="box-body">

                            {% if edit_form.vars.valid == false %}
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        {{ form_errors(edit_form) }}
                                    </div>
                                </div>
                            {% endif %}

                            {{ include ('DocumentationBundle:Entities:' ~ entityName ~ '.form.html.twig', {form: edit_form, action: 'update'}) }}

                        </div>

                        <div class="box-footer clearfix">
                            <button type="submit" class="btn btn-flat btn-success">
                                <i class="fa fa-fw fa-check"></i> {% trans %}Modifier{% endtrans %}
                            </button>
                            <a class="btn btn-flat btn-primary" href="{{ path('admin_entities_index', {entityName: entityName}) }}">
                                <i class="fa fa-list"></i> {% trans %}Retour à la liste{% endtrans %}
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        {{ form_end(edit_form) }}
        {{ form(delete_form) }}
        
    </section>
    
</div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>$(document).ready(doc.admin.entities.edit);</script>
{% endblock javascripts %}
