{##
 # src/DocIMM/DocumentationBundle/Resources/views/Entities/index.html.twig
 #
 # @param string entityName
 # @param array entities
 #}

{% extends 'DocumentationBundle:layouts:default.html.twig' %}

{% trans_default_domain 'AdminEntities' %}

{% block body %}
    
<div class="content-wrapper">

    <section class="content-header">
        <h1>{% trans %}Liste des entités {% endtrans %} {{ entityName }}</h1>
    </section>
    
    <div class="content">
        <div class="row">
        
            <div class="col-md-8">

                <div class="box box-success">

                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-fw fa-table"></i> {% trans with {entityName: entityName} %} Entité {% endtrans %} {{ entityName }}</h3>
                    </div>

                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="entities" data-entity="{{ entityName }}" class="table no-margin" style="width: 100%;">
{{ include ('DocumentationBundle:Entities:' ~ entityName ~ '.table.html.twig', {tabs: tabs}) }}
                            </table>

                        </div>
                    </div>

                    <div class="box-footer clearfix">
                        <a class="btn btn-flat btn-primary" href="{{ path('admin_entities_new', { entityName: entityName }) }}">
                            <i class="fa fa-fw fa-plus"></i> {% trans %}Nouveau{% endtrans %}
                        </a>
                    </div>

                </div>
            </div>
            
        </div>
                        
    </section>
    
</div>
<div class="modal fade" id="confirmModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Suppression</h4>
              </div>
              <div class="modal-body">
                <p>Etes-vous sûr de vouloir supprimer cet élément ?</p>
              </div>
              <div class="modal-footer">
                 <a type="button" href="#" class="btn btn-default pull-left" id="confirmModalNo" data-dismiss="modal">Non</a>
                 <a type="button" href="#" class="btn btn-primary" id="confirmModalYes">Oui</a>

              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- DataTables -->
    <script src="{{ asset('bundles/documentation/doc/js/jquery.dataTables.min.js') }}></script>
    <script src="{{ asset('bundles/documentation/doc/js/dataTables.bootstrap.min.js') }}></script>
    <script>
    $(document).ready(function(){
        $('#entities').DataTable(
            {
			     "language": {
    "sProcessing": "Traitement en cours ...",
    "sLengthMenu": "Afficher _MENU_ lignes",
    "sZeroRecords": "Aucun résultat trouvé",
    "sEmptyTable": "Aucune donnée disponible",
    "sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
    "sInfoEmpty": "Aucune ligne affichée",
    "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
    "sInfoPostFix": "",
    "sSearch": "Chercher:",
    "sUrl": "",
    "sInfoThousands": ",",
    "sLoadingRecords": "Chargement...",
    "oPaginate": {
      "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
    },
    "oAria": {
      "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
    }
  }
			     }
        );

        var theHREF;

        $(".confirmModalLink").click(function(e) {
            e.preventDefault();
            theHREF = $(this).attr("href");
            $("#confirmModal").modal("show");
        });

        $("#confirmModalNo").click(function(e) {
            $("#confirmModal").modal("hide");
        });

        $("#confirmModalYes").click(function(e) {
            window.location.href = theHREF;
        });
    });
</script>


{% endblock javascripts %}