{##
 # src/DocIMM/DocumentationBundle/Resources/views/Entities/index-list-doc.html.twig
 #
 # @param string entityName
 # @param array entities
 #}

{% extends 'DocumentationBundle:layouts:default.html.twig' %}

{% trans_default_domain 'AdminEntities' %}

{% block body %}

<div class="content-wrapper">

    <section class="content-header">
        <h1>{% trans %}Accédez aux documentations des produits Immanens {% endtrans %} </h1>
    </section>

    <div class="content">
        <div class="row">

            <div class="col-md-8">

                <div class="box box-success">

                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-fw fa-table"></i> {% trans with {entityName: entityName} %} Documentation{% endtrans %}</h3>
                    </div>

                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="entities" data-entity="{{ entityName }}" class="table no-margin" style="width: 100%;">
                              {{ include ('DocumentationBundle:Entities:UserDocumentation.table.html.twig', {tabs: tabs}) }}
                            </table>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>

</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- DataTables -->
    <script src="{{ asset('bundles/documentation/doc/js/jquery.dataTables.min.js') }}></script>
    <script src="{{ asset('bundles/documentation/doc/js/dataTables.bootstrap.min.js') }}></script>
    <script>
    $(document).ready(function(){
        $('#entities').DataTable(
            {
			     "language": {
    "sProcessing": "Traitement en cours ...",
    "sLengthMenu": "Afficher _MENU_ lignes",
    "sZeroRecords": "Aucun résultat trouvé",
    "sEmptyTable": "Aucune donnée disponible",
    "sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
    "sInfoEmpty": "Aucune ligne affichée",
    "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
    "sInfoPostFix": "",
    "sSearch": "Chercher:",
    "sUrl": "",
    "sInfoThousands": ",",
    "sLoadingRecords": "Chargement...",
    "oPaginate": {
      "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
    },
    "oAria": {
      "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
    }
  }
			     }
        );
    });
</script>


{% endblock javascripts %}