{% trans_default_domain 'AdminUser' %}
<div class="row">
    <div class="form-group col-xs-6">
        {{ form_label(form.email, 'Email'|trans) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
    </div>
</div>
<div class="row">
    {% if action|default('') == 'create' %}
    <div class="form-group col-xs-6">
        {{ form_label(form.plainPassword, 'Mot de passe'|trans) }}
        {{ form_errors(form.plainPassword) }}
        {{ form_widget(form.plainPassword) }}
    </div>
    {% endif %}
</div>


<div class="row">
    <div class="form-group col-xs-12">
        {{ form_label(form.roles, 'Role'|trans) }}
        {{ form_errors(form.roles) }}
        {{ form_widget(form.roles) }}
    </div>
</div>

<div class="row">
    <div class="form-group col-xs-12">
        {{ form_label(form.documentations, 'Documentation Access'|trans) }}
        {{ form_errors(form.documentations) }}
        {{ form_widget(form.documentations) }}
    </div>
</div>
