{% trans_default_domain 'AdminUser' %}

<colgroup>
    <col style="width: 5%;"/>
    <col style="width: 55%;"/>
    <col style="width: 30%;"/>
    <col style="width: 10%;"/>
</colgroup>
<thead>
<tr>
    <th>{% trans %}Id{% endtrans %}</th>
    <th>{% trans %}Name{% endtrans %}</th>
    <th>{% trans %}Connexion{% endtrans %}</th>
    <th>{% trans %}Actions{% endtrans %}</th>
</tr>
</thead>
<tbody>
{% for user in tabs %}
    <tr>
        <td><a title="Edit" href="{{ path('admin_entities_edit', { entityName: entityName, entityId:  user.id }) }}">{{ user.id }}</a></td>
        <td>{{ user.username }}</td>
        <td>{{ user.lastlogin|date("d/m/Y") }}</td>
        <td>
            <div class="btn-group">
                <a title="Delete" class="confirmModalLink" href="{{ path('admin_entities_delete', { entityName: entityName, entityId:  user.id }) }}"><i class="fa fa-fw fa-trash"></i></a>
            </div>
        </td>
    </tr>
{% endfor %}
</tbody>