{% trans_default_domain 'AdminDocumentation' %}

<colgroup>
    <col style="width: 30%;"/>
    <col style="width: 60%;"/>
</colgroup>
<thead>
<tr>
    <th>{% trans %}Name{% endtrans %}</th>
    <th>{% trans %}Url{% endtrans %}</th>
</tr>
</thead>
<tbody>
{% for doc in tabs %}
    <tr>
        <td>{{ doc.name }}</td>
        <td><a href="{{ doc.url }}/?token={{ token.token }}">{{ doc.url }}</a></td>
    </tr>
{% endfor %}

</tbody>
