<footer class="main-footer">
    <div class="pull-right hidden-xs"><b>Version</b> 2.0.0 Alpha</div>
    <strong>Copyright &copy; 2018 <a href="http://www.immanens.com">Adequat</a></strong>
    All rights reserved.
</footer>
