{##
 # src/DocIMM/DocumentationBundle/Resources/views/partials/left-menu.html.twig
 #}

{% trans_default_domain 'Admin' %}

<li class="treeview{% if app.request.get('_route')|slice(0, 6) == 'admin_' %} active menu-open{% endif %}">

     <li class="treeview {% if app.request.get('_route')|slice(0, 15) == 'admin_entities_' %} active menu-open{% endif %}">
        <a href="#">
            <i class="fa fa-fw fa-cog"></i>
            <span>{% trans %}<strong>Admin</strong>{% endtrans %}</span>
            <!-- <span class="pull-right-container">
            <span class="label label-primary pull-right">4</span>
            </span> -->
            <span class="pull-right-container">
               <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>

      <ul class="treeview-menu">
         <li class="treeview{% if app.request.get('_route')|slice(0, 15) == 'admin_entities_' %} active menu-open{% endif %}">
            <a href="#">
                <i class="fa fa-fw fa-database"></i>
                {% trans %}Entities{% endtrans %}
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                {% for entity in ['Documentation'] %}
                    <li {% if entityName|default('') == entity and app.request.get('_route') != 'user_list_doc'%} class="active"{% endif %}>
                        <a href="{{ path('admin_entities_index', {entityName: entity}) }}"><i class="fa fa-fw fa-table"></i> {{ ('' ~ entity)|trans }}</a>
                    </li>
                {% endfor %}
                {% for entity in ['User'] %}
                    <li{% if entityName|default('') == entity %} class="active"{% endif %}>
                        <a href="{{ path('admin_entities_index', {entityName: entity}) }}"><i class="fa fa-fw fa-table"></i> {{ ('' ~ entity)|trans }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
      </ul>
     </li>

                {% for entity in ['Documentation'] %}
                     <li{% if entityName|default('') == entity and app.request.get('_route') != 'admin_entities_index'%} class="active"{% endif %}>
                         <a href="{{ path('user_list_doc', {entityName: entity}) }}"><i class="fa fa-fw fa-cog"></i> <span><strong> {{ ('Doc List') |trans }}</strong></span> </a>
                     </li>
                {% endfor %}

</li>
