{% trans_default_domain 'Admin' %}

<li class="treeview{% if app.request.get('_route')|slice(0, 6) == 'admin_' %} active menu-open{% endif %}">
<li class="treeview{% if app.request.get('_route')|slice(0, 15) == 'admin_entities_' %} active menu-open{% endif %}">

       {% for entity in ['Documentation'] %}
            <li{% if entityName|default('') == entity and app.request.get('_route') != 'admin_entities_index'%} class="active"{% endif %}>
                <a href="{{ path('user_list_doc', {entityName: entity}) }}"><i class="fa fa-fw fa-cog"></i> <span><strong> {{ ('Doc List') |trans }}</strong></span> </a>
            </li>
        {% endfor %}

</li>
</li>
