<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">

            {% if app.user and is_granted('ROLE_ADMIN') %}
                {% include('DocumentationBundle:partials:left-menu-admin.html.twig') %}

            {% elseif app.user and is_granted('ROLE_USER') %}
                {% include('DocumentationBundle:partials:left-menu-user.html.twig') %}
            {% endif %}
        </ul>
    </section>
</aside>
