{% trans_default_domain 'FOSUserBundle' %}

{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <form action="{{ path('fos_user_resetting_send_email') }}" method="post" class="fos_user_resetting_request">
        <div class="row">
            <div class="col-xs-12">
                <label for="username">{{ 'resetting.request.username'|trans }} :</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" id="username" name="username" required="required" />
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="submit" class="btn btn-primary btn-block btn-flat btn-login" value="{{ 'resetting.request.submit'|trans }}" />
            </div>
        </div>
    </form>
{% endblock fos_user_content %}
