{% trans_default_domain 'FOSUserBundle' %}

{% extends "@FOSUser/layout.html.twig" %}
{% block fos_user_content %}
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <br/>
    <div>
        <input class="btn btn-primary btn-block btn-flat btn-login" type="submit" value="{{ 'Valider'|trans }}" />
    </div>
    {{ form_end(form) }}
{% endblock fos_user_content %}
