{##
 # src/DocIMM/DocumentationBundle/Resources/views/layouts/AdminLTE.html.twig
 #}

<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta name="robots" content="noindex,nofollow">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Doc IMM{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/documentation/doc/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/documentation/doc/css/ionicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/documentation/doc/js/plugins/jvectormap/jquery-jvectormap-1.2.2.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/documentation/doc/js/plugins/select2/select2-4.0.4.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/documentation/doc/css/AdminLTE.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/documentation/doc/css/skins/_all-skins.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/documentation/doc/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/documentation/doc/css/jquery.dataTables.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/documentation/doc/css/dataTables.bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/documentation/doc/css/bootstrap-datetimepicker.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/documentation/doc/css/doc.css') }}">
    {% endblock stylesheets %}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition {{ themeColor }} sidebar-mini">
<div class="wrapper">
    {{ include('@Documentation/partials/top-menu.html.twig', {moduleName: moduleName}) }}
    {{ include('@Documentation/partials/left-menu.html.twig') }}
    {% block body %}{% endblock body %}
    {{ include('@Documentation/partials/footer.html.twig') }}
    {{ include('@Documentation/partials/right-menu.html.twig') }}
</div>
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/plugins/fastclick/fastclick.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/app.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/plugins/chartjs/Chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/plugins/flot/jquery.flot.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/plugins/flot/jquery.flot.time.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/plugins/morris/raphael.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/plugins/morris/morris.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/plugins/select2/select2-4.0.4.full.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/plugins/select2/i18n/4.0.4-fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/datatables-datetime.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/moment-with-locales-2.18.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/translations/fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/translations/en.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/documentation/doc/js/doc.js') }}"></script>
{% endblock javascripts %}
</body>
</html>
