{##
 # src/DocIMM/DocumentationBundle/Resources/views/layouts/default.html.twig
 #}

{% extends 'DocumentationBundle:layouts:AdminLTE.html.twig' %}

{% set themeColor = 'skin-red' %}
{% set moduleName = 'Admin' %}

{% block javascripts %}
    <script>
        moduleName = 'admin';
    </script>
    {{ parent() }}
    <script src="{{ asset('bundles/documentation/js/doc.admin.js') }}"></script>
    <script src="{{ asset('bundles/documentation/js/doc.admin.default.js') }}"></script>
    <script src="{{ asset('bundles/documentation/js/doc.admin.entities.js') }}"></script>
{% endblock javascripts %}
