<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Doc IMM</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/documentation/doc/css/doc.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/documentation/doc/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/documentation/doc/css/AdminLTE.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/documentation/doc/css/skins/_all-skins.min.css') }}">
    {% endblock stylesheets %}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition ski-blue login-page">
<div class="top">
    <div class="header_content">
        <div class="left">
            <div class="login-logo left">
                <a href="/login" style="color:white"><b>Doc IMM</b></a>
                <img src="{# asset('bundles/core/img/botlogo.png') #}" width="50px"/>
            </div>
            <p style="font-size: 9px;margin-top: -5px;margin-bottom: -10px;color:#9F0030"></p>
            </a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="login-box">
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Autentification</p>


        {% block content %}
            {% block fos_user_content %}{% endblock %}
        {% endblock %}

    </div>


    <!-- /.social-auth-links -->

</div>
<!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<footer>
    ©Adequat 2018 - V 1.0.0 alpha
</footer>
{% block javascripts %}
    <script src="{{ asset('bundles/documentation/doc/js/jquery-2.2.3.min.js') }}"></script>
    <script src="{{ asset('bundles/documentation/doc/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/documentation/doc/js/icheck.min.js') }}"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
{% endblock javascripts %}
</body>
</html>
