{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="callout callout-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="form-group has-feedback">
        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
        <input type="password" class="form-control" id="password" name="_password" required="required" />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>

    <div class="row">
        {# <div class="col-xs-8">
            <div class="checkbox icheck">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>
        </div> #}

        <div class="col-xs-8">
            <a class="btn btn-default btn-block btn-flat btn" href="{{ path('fos_user_resetting_request') }}">
                Mot de passe oublié
            </a>
        </div>

        <div class="col-xs-4">
            <input type="submit" class="btn btn-primary btn-block btn-flat btn-login" id="_submit" name="_submit" value="{{ 'Enter'|trans }}" />
        </div>
    </div>
</form>
